.hourly-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  padding: 3px;
  .hour {
    cursor: inherit;
    color: rgb(69, 129, 197);
    font-weight: bold;
  }
  .temp {
    cursor: inherit;
    color: rgb(74, 111, 161);
  }
}
